# Ignore node_modules for the API
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore local environment files
.env
credentials.txt

# Ignore logs
*.log

# Ignore Docker Compose and other config files
docker-compose.yml

# Ignore other unnecessary files
.vscode
.idea
.DS_Store
*.pyc
__pycache__
tests/

# Ignore build artifacts
dist
build
